/* ANCHOR larger screens */
@media (min-width: 768px) {
  .world__scenarios {
    width: 15%;
    min-width: 400px;
    padding: 10px;
  }
}

/* ANCHOR smallish screens */
@media (max-width: 768px) {
  .world__scenarios {
    width: 50%;
    min-width: 400px;
    padding: 10px;
  }
}
