/* ANCHOR larger screens */
@media (min-width: 768px) {
  .world__map {
    position: relative;
    width: 40%;
  }
}

/* ANCHOR smallish screens */
@media (max-width: 768px) {
  .world__map {
    position: relative;
    width: 100%;
  }
}

.world__map:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.TransformComponent-module_container__3NwNd {
  border-radius: 10px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.world__map__img {
  height: 100%;
  width: 100%;
}
