.character-card {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:
    "char-image char-stats"
    "char-party char-party"
    "char-controls char-controls";
}

.character-card-image {
  grid-area: char-image;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.character-card-image img {
  width: 100%;
}

.character-card-stats {
  grid-area: char-stats;
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
}

.character-card-stats h3,
p {
  margin: 0px;
  padding: 0px;
}

.character-card-party {
  grid-area: char-party;
  margin-top: 10px;
  margin-bottom: 10px;
}

.character-card-controls {
  grid-area: char-controls;
  width: 100%;
}
