footer {
  grid-area: footer;
  background-color: #d4964e;
  color: #f9f7f2;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "widget-1 widget-2";
  padding: 10px;
}

.widget-1 {
  grid-area: widget-1;
  text-align: left;
  margin: auto 10px;
}

.widget-2 {
  grid-area: widget-2;
  text-align: right;
  margin: auto 10px;
}
