.navbar {
  grid-area: navbar;
  width: 100%;
}

.navbar .ui.menu {
  background: #d4964e;
}

.navbar .ui.attached.menu:not(.tabular) {
  border: none;
}

header {
  background-color: #d4964e;
  color: #291c1a;
}

header a {
  color: #291c1a;
}

header a:hover {
  text-decoration: underline;
  color: #291c1a;
}
