.navbar {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "nav-logo nav-image";
  width: 100%;
}

.navbar__title {
  grid-area: nav-logo;
  padding-left: 3%;
  margin: auto 0;
}

.navbar__menu {
  grid-area: nav-image;
}

header {
  background-color: #D4964E;
  color: #291C1A;
}

header a {
  color: #291C1A;
}

header a:hover {
  text-decoration: underline;
  color: #291C1A;
}