.auth {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "auth-image auth-form";
  width: 100%;
  height: 100%;
}

.auth__image {
  grid-area: auth-image;
  padding: 20px;
  margin: auto;
}

.auth__form {
  grid-area: auth-form;
  padding: 20px;
  margin: auto;
}
