.borders {
  border: 1px red solid
}

body {
  background-color: #F9F7F2;
}

.auth-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "auth-image auth-form";
  width: 100%;
}

.auth-image {
  grid-area: auth-image;
}

.auth-form {
  grid-area: auth-form;
}

.navbar-header {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "nav-logo nav-image";
  width: 100%;
}

.navbar-header-logo {
  grid-area: nav-logo;
  padding-left: 3%;
  margin: auto 0;
}

.navbar-header-menu {
  grid-area: nav-image;
}

header {
  background-color: #D4964E;
  color: #291C1A;
}

header a {
  color: #291C1A;
}

header a:hover {
  text-decoration: underline;
  color: #291C1A;
}

footer {
  background-color: #D4964E;
  color: #F9F7F2;
}

.profile-page {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.profile-page div {
  margin: auto;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  padding: 10px
}

.index-card {
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #837372;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.character-card {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-areas:
  "char-image char-stats"
  "char-party char-party"
  "char-controls char-controls";
}

.character-card-image {
  grid-area: char-image;
}

.character-card-stats {
  grid-area: char-stats;
  margin-left: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.character-card-party {
  grid-area: char-party;
  margin-top: 10px;
  margin-bottom: 10px;
}

.character-card-controls {
  grid-area: char-controls;
  width: 100%;
}

.campaign-page {
  display: grid;
  grid-template-areas:
  "cp-parties cp-players"
  "cp-retired cp-players";
  grid-template-columns: auto 250px;
  padding: 20px;
}

.campaign-parties-div {
  grid-area: cp-parties;
}

.campaign-retired-char-div {
  grid-area: cp-retired;
}

.campaign-players-div {
  grid-area: cp-players;
  border: 2px solid #837372;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
}

.campaign-player-div {
  display: grid;
  grid-template-areas: 
  "cp-image cp-name";
  grid-template-columns: 50px auto;
  margin-top: 10px;
  margin: 10px auto;
}

.campaign-player-image {
  grid-area: cp-image;
}

.campaign-player-username {
  grid-area: cp-name;
  text-align: left;
  margin: auto 10px;
}

.party-page {
  padding: 20px;
}

.character-page {
  display: grid;
  grid-template-areas: 
  "character-image character-header character-perks"
  "character-image character-stats character-perks"
  "character-image character-party character-perks"
  "character-image character-backstory character-perks"
  "character-items character-items character-checks"
  "character-items character-items character-notes";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto 1fr 1fr;
}

.character-page-image {
  grid-area: character-image;
}

.character-page-header {
  grid-area: character-header;
  display: grid;
  grid-template-areas: 
  "character-icon character-name";
  grid-template-columns: auto 1fr;
}

.character-page-icon {
  grid-area: character-icon;
}

.character-page-name {
  grid-area: character-name;
  margin: auto 0;
  padding: 10px;
}

.character-page-stats {
  grid-area: character-stats;
}

.character-page-party {
  grid-area: character-party;
}

.character-page-backstory {
  grid-area: character-backstory;
}

.character-page-perks {
  grid-area: character-perks;
}

.character-page-items {
  grid-area: character-items;
}

.character-page-checks {
  grid-area: character-checks;
}

.character-page-notes {
  grid-area: character-notes;
}