.borders {
  border: 1px red solid
}

body {
  background-color: #F9F7F2;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  padding: 10px
}

.index-card {
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #837372;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}