.character-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* ANCHOR larger screens */

@media (min-width: 768px) {
  .character-page__image,
  .character-page__perks,
  .character-page__alt-stats {
    width: 25%;
  }

  .character-page__stats {
    width: 50%;
    padding: 0 20px;
  }

  .character-page__items {
    width: 75%;
  }
  .character-page__backstory {
    padding: 10px 0;
  }
}

/* ANCHOR smallish screens */

@media (max-width: 768px) {
  .character-page__image {
    max-width: 400px;
  }

  .character-page__stats,
  .character-page__perks,
  .character-page__items,
  .character-page__alt-stats,
  .character-page__backstory {
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 0;
  }
}

.character-page__alt-stats__checkmarks {
  display: flex;
  flex-flow: row wrap;
}

.character-page__alt-stats__checkmarks .grouped {
  flex: 1 0 30%;
  min-width: fit-content;
}

/* Contained name header css */

.character-page-header {
  display: grid;
  grid-template-areas: "character-icon character-name";
  grid-template-columns: auto 1fr;
}

.character-page-icon {
  grid-area: character-icon;
}

.character-page-name {
  grid-area: character-name;
  margin: auto 0;
  padding-left: 20px;
}
